@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './palette.scss';

.dashboards-container{
  width: 95%;
  margin: auto;
  box-sizing: border-box;

  .personal-dashboards{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    h2{
      margin: 2rem;
      border-bottom: 2px solid $color4;
    }

    .charts{
      display: flex;

      .chart-container{
        width: 33%;
        margin-right: -2rem;
      }
      .chart-container2{
        width: 33%;
        margin-right: 1rem;
      }
    }

    .chart-keys{
      display: flex;
      justify-content: space-evenly;
      width: 40%;
      margin: auto;
      text-align: center;
      color: white;
      font-weight: bold;
      margin-top: 2rem;

      p{
        width: 6rem;
        border-radius: 55px;
      }

      .chart-key-complete{
        background-color: #005ca3;

      }
      .chart-key-overdue{
        background-color: #a30e03;
      }
      .chart-key-pending{
        background-color: #145c02;
      }
      .chart-key-incomplete{
        background-color: #c9bc04;
      }
    }

  }

  .company-dashboard{
    h2{
      margin: 2rem;
      border-bottom: 2px solid $color4;
    }

    .company-chart{
      width: 70%;
      margin: auto;
      margin-bottom: 3rem;
    }
  }
}



