@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './palette.scss';

.dashboards-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  color: $color2;

.personal-dashboard-container{
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;

  h2{
    text-align: left;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid $color4;
    color: $color4;
  }
  
  .cards-container{
    display: flex;
    justify-content: center;


    .dash-card{
      width: 30%;
      margin: 1rem;
      border-radius: 5px;
  
      .dash-card-header{
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
      }
  
      .dash-card-description{
        width: 95%;
        margin: auto;
        .chart{
          text{
            font-size: .8rem;
          }  
        }
      }
    }
  }
}

.company-dashboard-container{
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  width: 90%;



  h2{
    text-align: right;
    width: 100%;
    font-size: 2rem;
    border-bottom: 2px solid $color4;
    color: $color4;
  }
  
  .cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .dash-card{
      width: 30%;
      margin: 1rem;
      border-radius: 5px;
  
      .dash-card-header{
        display: flex;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
      }
  
      .dash-card-description{
        width: 95%;
        margin: auto;
        .chart{
          text{
            font-size: .8rem;
          }
        }
      }
    }
  }
}
}



