body{
  display: grid;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  height: calc(100% - 60px);
  // padding: 0 2rem;
}
.right-align {
  text-align: right;
}
.icon-container {
position:absolute;
  // left:0;
  top:1rem;
  right:3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.icon {
  padding: 0 1rem;
// }
// .caption {
  // font-size: .75rem;
  color: #777777;
}
.caption {
  font-size: .75rem;
  margin-top: -.1rem;
}
.header-container {
  // background-color: #fcfbfb;
}
.nav-container {
  color: #000;
  background-color: #fcfbfb;
  height: 50px;
  border-color: #ccc;
  margin-left: 2rem;
  img{
    height: 100%;
    vertical-align: middle;
    padding: 2px;
  }
}

.nav-links {
  text-decoration: none;
  padding: 0 1rem;
  color: #777777;

}
.sub-header {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.title {
  color: #23527c;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
}
.divider {
  height: 4px;
  width: 120px;
  margin: 0 auto 7px auto;
  background: #000;
  margin-top: -1rem;
}
.footer-container {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer-text {
  font-size: .6rem;
  line-height: .75;
  text-align: center;
}